
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 200;
	color: #333;
	font-size: 62px;
	background-color: #FFFFFF;
}

body
{
	font-family: 'Helvetica Neue';
	background-color: #000000;
	font-size: 62px;
	font-weight: 200;
	color: #333;
	
}