
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	color: #C9B1B4;
	font-size: 60px;
	background-color: #BEDDC3;
	text-align: center;
}

p{
font-family: 'Helvetica Neue';
	font-weight: 100;
	color: #C9B1B4;
	font-size: 60px;
	background-color: #BEDDC3;
	text-align: center;

	}

body
{
	font-family: 'Helvetica Neue';
	background-color: #BEDDC3;
	font-size: 19px;
	font-weight: 100;
	color: #C9B1B4;
	text-align: center;
	
}
a{
	text-decoration: none;
	color: #C9B1B4;

}

a:hover{
color: #333333;	

}
#section{
width: 1000px;
float: center;
{