
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 400;
	color: #C9B1B4;
	font-size: 62px;
	background-color: #FFFFFF;
	text-align: right;
}

body
{
	font-family: 'Helvetica Neue';
	background-color: #FFFFFF;
	font-size: 40px;
	font-weight: 400;
	color: #C9B1B4;
	
}
a{
	text-decoration: none;
	color: #C9B1B4;

}

a:hover{
color: #000000;	

}