  

     h2
        {
        font-size: 2em;
        font-family:  "Open Sans", Sans-serif;
        font-weight: 800;
        font-style: normal;
        opacity: 0.9;
        color: black;
        padding-left: 0;
        text-align: center;
        display: inline-block;
        margin-left: 20px;
        }


    h3
        {
        font-size: 2em;
        font-family:   Sans-serif;
        font-style: normal;
        font-weight: lighter;
        opacity: 0.9;
        color: black;
        padding-left: 0;
        text-align: center;
        display: inline-block;
        margin-right: 30px;
        }


a:hover{
        color:lightpink;
        
        }
    


p   {
    display: inherit;
 

    }


    }

    address { 
    font-size: 2em;
        font-family: Impact, Courier, helvetica;
        opacity: 0.4;
        color: #ffffff;
        margin:0;
        padding:100px;
       
        /* mouse over link */}

    a:hover {
    color: hotpink;
    }

        
    }

    .centrerad {
background-color: black;
    }

 

    